/* ClientLayout.css */
.client-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: lightblue; /* Thêm màu nền để kiểm tra */
}

.content {
  flex: 1;
  padding: 20px;
}

.footer-client {
  margin-top: auto;
}
